body{
  background-image: url('wallpaperflare.com_wallpaper\ \(2\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.g{
  background-image: url('wallpaperflare.com_wallpaper\ \(2\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}